/[iSongs.info] 01 - Bimbiliki Pilapi.mp3
/[iSongs.info] 01 - Ranjithame.mp3
/[iSongs.info] 01 - Thaar Maar Thakkar Maar.mp3
/[iSongs.info] 01 - Urike Urike.mp3
/[iSongs.info] 02 - Avunanavaa.mp3
/[iSongs.info] 03 - Gundellonaa.mp3
/[iSongs.info] 04 - Poonakaalu Loading.mp3